/*PARTE GERAL*/

* {
    font-family: 'arial';
    font-weight: bold;
    text-decoration: none;
}

/* Formatação do cabeçalho*/

/* Parte do header*/

.cabecalho {
    background-color: black;
    height: 150px;
    padding: 20px 0;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px gray;
}

/* container do conteudo do header*/

.container-cima {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    vertical-align: middle;
}

/*parte do LOGO*/

.titulo a {
    color: gold;
    font-size: 40px;
}

/* parte do nav*/

/* declarando o nav flex*/

.cabecalho-nav {
    display: flex;
}

/* ajustando itens*/

.cabecalho-item {
    font-size: 20px;
    margin: 0 2%;
    border: 1px solid gold;
    padding: 3px;
    border-radius: 2px;
    color: gold;
}

/* Propriedade de interação*/

.cabecalho-item:hover {
    color: brown;
    font-size: 24px;
    background-color: grey;
}

.titulo a:hover {
    background-color: grey;
    font-size: 45px;
}

/* Ajustando o corpo*/

main {
    background-color: beige;
    padding: 50px 0;
}

.titulo-corpo {
    text-align: center;
    font-size: 40px;
    margin: 70px 0;
}

.plotagem {
    padding: 50px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.container-formulario {
    width: 40%;
    height: 500px;
    border: solid 2px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    background-color: azure;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2px 0 0 0;
    align-items: center;
    height: 300px;
    justify-content: space-around;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-formulario h2 {
    font-size: 25px;
    padding: 5px;
    border-bottom: 3px solid black;
    color: blue;
    text-shadow: rgb(20, 197, 220) 2px 2px 2px;
    font-family: sans-serif;
}

.container-formulario h3 {
    font-size: 20px;
    color: blue;
}

.container-formulario p {
    text-align: start;
}

.item {
    margin-left: 4%;
}

.prenc {
    margin-right: 4%;
}

input {
    border-radius: 30px;
    width: 200px;
}

button {
    border-radius: 50px;
    background-color: black;
    color: #fad000;
    width: 200px;
    min-height: 30px;
    font-size: 20px;
}

/* foooter*/

footer {
    background-color: black;
    height: 100px;
    padding: 20px 0;
}

/*container do conteudo do rodape*/

.espaco-rodape {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 90%;
    vertical-align: middle;
    justify-content: center;
}

.rodape {
    font-size: 13px;
    color: white;
    font-style: italic;
}

.itens-rodape {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

@media (max-width: 700px) {
    .cabecalho {
        height: 200px;
    }
    .titulo-corpo {
        text-align: center;
        font-size: 30px;
        padding: 5px;
        color: blue;
        text-shadow: rgb(20, 197, 220) 2px 2px 2px;
        font-family: sans-serif;
        margin: 70px 0;
    }
    .container-cima img {
        display: none;
    }
    .container-cima h1 {
        display: none;
    }
    .cabecalho-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        width: 100%;
    }
    .cabecalho-item {
        margin: 2% 0;
    }
    .plotagem {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-formulario {
        width: 100%;
        padding:5px;
    }
    .plotagem img {
        width: 80%px;
        height: 400px;
        margin: 10px 0;
    }
}